/* !Estilos de la página Proyecto */

/* ?Galeria de Imágenes */
.galeria{
    margin-top: 25px;
}
.galeria h1{
    margin-top: -30px;
    /* background-color: #8A1715; */
}
.galeria .carousel-item {
    transition: transform 1s ease-in-out; 
}

.galeria .carousel-item img {
    filter: brightness(100%) !important;  
}

.galeria .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block; 
}

.galeria .carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.galeria .carousel-caption {
    position: absolute;
    top: 75px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

/* ?MODELO CAD */
.cad{
    padding: 50px 0px !important;
}
.cad .row{
    padding-top: 50px;
}
.cad p{
    margin: 60px 15px;
    font-size: 1rem;
    text-align: justify;
}

.cad:hover h2 {
    color: #8A1715;
}


.x3d-container {
    width: 100%;
    height: auto; 
    max-width: 800px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    padding: 6px 6px 0px 6px;
    background-color: #C5E2F6;
}

x3d {
    width: 100%; 
    height: auto;
}


/* ?Diagrama de metodología */
.metodologia{
    background-color: #f0f0f0;
    padding: 30px;
    text-align: justify;
}
.metodologia:hover h2 {
    color: #8A1715;
}

/* ?Planos Eléctricos y mecánicos */
.planos{
    margin: 40px;
    margin-bottom: 90px;
}
.planos .carousel-item {
    transition: transform 1s ease-in-out; 
}

.planos .carousel-item img {
    filter: brightness(100%) !important;
    width: 100%;
    height: 100%;  /* Ajusta la altura según lo necesario */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.planos p{
    margin: 0px 75px;
    font-size: 1rem;
    text-align: justify;
}
.planos h5{
    margin: 0px 75px;
    text-align: justify;
    padding-bottom: 10px;
}
.planos .container h2{
    padding: 30px 0px 50px 0px;
}
.planos .container:hover h2{
   color: #8A1715;
}


.planos .carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    font-size: 2rem;
}

.planos .carousel-control-prev {
    left: 0;
}

.planos .carousel-control-next {
    right: 0; 
}

/* ? Características Técnicas */
.ctecnicas{
    background-color: #f0f0f0;
    padding: 30px 0px;
}

.ctecnicas h2{
    padding-bottom: 60px;
}
.ctecnicas:hover h2{
    color: #8A1715;
}
.ctecnicas .row{
    margin: 50px;
}
.img-tecnica {
    max-width: 400px;
    height: auto;
    border-radius: 5px;       
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    transition: all 0.3s ease-in-out;  
}
.ctecnicas p{
    align-items: center;
    padding-top: 20px;
    text-align: justify;
}
.ctecnicas .col-md-6{
    padding: 10px;
    
}
.ctecnicas h3,
.ctecnicas strong,
.ctecnicas ul li::marker{
    color: #4D6265;
}

.ctecnicas .cmecanica:hover img,
.ctecnicas .celectronica:hover img,
.ctecnicas .ccontrol:hover img,
.ctecnicas .cti:hover img {
    transform: scale(1.02);
}

.ctecnicas .cmecanica:hover h3,
.ctecnicas .cmecanica:hover strong,
.ctecnicas .cmecanica:hover ul li::marker{
    color: #6B99C3;
}
.ctecnicas .celectronica:hover h3,
.ctecnicas .celectronica:hover strong,
.ctecnicas .celectronica:hover ul li::marker{
    color: #E2BE62;
}
.ctecnicas .ccontrol:hover h3,
.ctecnicas .ccontrol:hover strong,
.ctecnicas .ccontrol:hover ul li::marker{
    color: #df8fc5;
}
.ctecnicas .cti:hover h3,
.ctecnicas .cti:hover:hover strong,
.ctecnicas .cti:hover ul li::marker{
    color: #AEC670;
}

.ctecnicas ul{
    margin-top: 20px;
    list-style-type: disc; 
    padding-left: 20px; 
    text-align: justify;
}

.ctecnicas li {
    margin-bottom: 10px;
}
